<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
       function onSubmit(token) {
         document.getElementById("demo-form").submit();
       }
     </script>
    <style>
        .grecaptcha-badge {
            display: none;
        }
        body > div:nth-child(4) > div:nth-child(1) {
            background-color: #000000;
        }

    </style>
</head>
<body>
    {% if name %}
        <p>Your name is: {{name}}</p>
        <p>Your IP is: {{user_IP}}</p>
        <p>Recaptcha response: {{recaptcha_resp}}</p>
        <p>Google responded: {{google_resp}}</p>
    {% endif %}

    <form id='demo-form' action="/" method="POST">
        {% csrf_token %}
        {{ form }}
        <button class="g-recaptcha" data-sitekey="6LfrEU0UAAAAAIPIN74JbzuhUOeZ4d1jjIM7SuNl" data-callback='onSubmit'>Submit</button>
    </form>
    <div id="beacon"></div>
</body>
</html>